@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>
    <div>
        <a href="~/UserEdit">Переход на страницу работы с сотрудниками</a>
    </div>
    <div>
        <a href="~/OrganizationEdit">Переход на страницу работы с организациями</a>
    </div>
</div>
