@page
@model App_CSV_withoutEF.MyPages.UserEditModel
@{
}
<h1>Страница для работы с сотрудниками</h1>

<div>
    <div>
        <form style="display: grid;" method="post" asp-antiforgery="true">
            <input type="text" placeholder="Фамилия" asp-for="_user.UserLastname" />
            <input type="text" placeholder="Имя" asp-for="_user.UserName" />
            <input type="text" placeholder="Отчество" asp-for="_user.UserSurname" />
            <input type="Date" placeholder="Дата рождения" asp-for="_user.BirthDate " />
            <input type="number" placeholder="Паспорт серия" asp-for="_user.PassportSerial" />
            <input type="number" placeholder="Паспорт номер" asp-for="_user.PasportNumber" />
            <input type="text" placeholder="Организация" asp-for="_user.UserOrganization" />

            <input type="submit" value="Добавить сотрудника" />
        </form>
    </div>

    <div>
        @foreach (var employee in )
        {

        }
    </div>
</div>